
<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ./partials/header %>
</head>

<body>
  <!-- Navigation-->
  <% include ./partials/main_nav %>
  <!-- Main content -->
  <main class="container">
    <div class="jumbotron">
      
        <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <img class="profilepic" src="./Assets/10458.jpg" />
            </div>
            <div class="col-12 col-sm-6 col-md-8 col-lg-8">
                <div>
                    <b> I'm Nethaji Gundra  </b>
                    <p> Data Scientist </p>
                </div>
                <div>
                    <p>
Graduate Student at USF. Innovative developer offering over 3 years of expertise in IT Industry. Have a good understanding of SDLC. Seasoned in working with AGILE/SCRUM and have successfully delivered multiple time-bound deliveries. Quickly learns and masters new technologies. Ability to work in both team and self-directed environment.

                    </p>
                    
                </div>
                <div>
                   <p> Click <a href="Assets/Nethaji Gundra Resume_USF.pdf" target="_blank"> <u> Here </u> </a> for my Resume to know complete Details About Me.. </p>
                   <p> You can Contact Me <a href="/contact"> <u> here </u> </a> .  I wil respond as soon as possible </p>
                </div>
            </div>
    
        </div>

        </div>
      
    </div>
  </main>
  <% include ./partials/bottom_nav %>
  <!-- js styles -->
  
      <!--Footer-->
    <% include ./partials/footer %>

</body>
</html>