
<!DOCTYPE html>
<html>


<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <% include ./partials/header %>
</head>

<body>
  <!-- Navigation-->
  <% include ./partials/main_nav %>
  <!-- Main content -->
  <main class="container">
    <div class="jumbotron">
      <div class="indexText" >
        <div>
          <h2> Powerful Storm Exiting East Coast; Record Breaking Cold Temperatures Across Southeast

             </h2> <br />
          <p>As a powerful winter storm system pushes off of the east coast, record breaking cold temperatures will spread across the Southeast into the Mid-Atlantic Sunday morning. </p>
          <p>A system moving onshore in the Pacific Northwest will bring locally heavy rain and heavy mountain snow to the region. Critical fire weather conditions will develop across portions of the Southern Plains on Sunday</p>
        </div>
        <div>
            <br />
            <img src ="Assets/USmap.png" class="logo1" alt="Lights"></img>
            <a href="/about">  
            
              <button type="button" class="btn btn-primary"> About Us </button>
              
            </a>
            
        </div>
      </div>
    </div>
  </main>
  <% include ./partials/bottom_nav %>
  <!-- js styles -->
  
      <!--Footer-->
    <% include ./partials/footer %>

</body>
</html>